<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>CAF RETRO CAMBIO DE CONTRASEÑA</title>
</head>

<body style="margin: 0; padding: 0">
    <table width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td style="background-color: #f0f0f0; padding-top: 65px;">
                <table cellpadding="0" cellspacing="0" width="600" align="center">
                    <tr>
                        <td align="center">
                            <div style="width: 100%; max-width: 650px; margin: 0 auto;">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0"
                                    style="width: 100%; max-width: 650px; margin: 0 auto;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0"
                                                    border="0"
                                                    style="width: 100%; max-width: 620px; margin: 0 auto; background: #ffffff;">
                                                    <tbody>
                                                        <tr>
                                                            <td style="background-color: #ffffff;">
                                                                <table width="100%" cellpadding="0" cellspacing="0"
                                                                    border="0">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td
                                                                                style="text-align: center; padding-top: 25px; padding-bottom: 25px; background-color: #031341;">
                                                                                <img width="250"
                                                                                    src="http://localhost:3000/getFile/images/logo_white_large.png"
                                                                                    alt="">
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <table width="100%" cellpadding="0" cellspacing="0"
                                                                    border="0" style="background-color: #ffffff;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td width="600"
                                                                                style="padding-top: 0px; padding-bottom: 60px; padding-left: 70px; padding-right: 70px;">
                                                                                <table width="100%" cellpadding="0"
                                                                                    cellspacing="0" border="0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td align="center"
                                                                                                style="font-family: Verdana,Geneva,sans-serif; font-weight: normal; font-size: 16px; line-height: 28px; color: #437068; padding-bottom: 0px; padding-top: 40px;">
                                                                                                <img width="70"
                                                                                                    src="https://tlr.stripocdn.email/content/guids/CABINET_dee64413d6f071746857ca8c0f13d696/images/852converted_1x3.png"
                                                                                                    alt="">
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="font-family: Verdana,Geneva,sans-serif; font-size: 20px; line-height: 32px; color: #437068; text-align: center; padding-bottom: 0px;">
                                                                                                &nbsp;Bienvenid@ al
                                                                                                centro de
                                                                                                acondicionamiento físico
                                                                                                RETRO, Acontinuación
                                                                                                podras ver los datos de
                                                                                                acceso a la aplicación.
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr style="width: 100%;">
                                                                                            <td
                                                                                                style="font-family: Verdana,Geneva,sans-serif; font-size: 16px; line-height: 32px; color: #437068; text-align: center; padding-bottom: 0;">
                                                                                                <strong>Usuario:</strong>
                                                                                                {{ user.user_email }}
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr style="width: 100%;">
                                                                                            <td
                                                                                                style="font-family: Verdana,Geneva,sans-serif; font-size: 16px; line-height: 32px; color: #437068; text-align: center; padding-bottom: 0;">
                                                                                                <strong>Password:</strong>
                                                                                                {{ password }}
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td align="center"
                                                                                                style="font-family: Verdana,Geneva,sans-serif; font-weight: normal; font-size: 16px; line-height: 28px; color: #437068; padding-bottom: 16px; padding-top: 40px;">
                                                                                                <a href="{{ url }}"
                                                                                                    style="color: #437068;"
                                                                                                    target="_blank">
                                                                                                    <strong>Inicia
                                                                                                        Sesión</strong></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="font-family: Verdana,Geneva,sans-serif; font-size: 14px; line-height: 32px; color: #437068; text-align: center; padding-bottom: 60px;">
                                                                                                &nbsp;Recuerda cambiar
                                                                                                la contraseña
                                                                                            </td>
                                                                                        </tr>
                                                                                        <!-- Social Icon Start -->
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table width="100%"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0"
                                                                                                    border="0">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                style="text-align: center;">
                                                                                                                <a href="#"
                                                                                                                    target="_blank"
                                                                                                                    style="display: inline-block; margin-right: 3px;"><img
                                                                                                                        src="https://dekocozy.com/wp-content/plugins/cf7-email-add-on/admin/assets/images/gradient/facebook-icon.png"></a>
                                                                                                                <a href="#"
                                                                                                                    target="_blank"
                                                                                                                    style="display: inline-block; margin-left: 3px; margin-right: 3px;"><img
                                                                                                                        src="https://dekocozy.com/wp-content/plugins/cf7-email-add-on/admin/assets/images/gradient/instagram-icon.png"></a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <!-- Social Icon End -->

                                                                                        <tr>
                                                                                            <td align="center"
                                                                                                style="font-family: Verdana,Geneva,sans-serif; font-weight: normal; font-size: 10px; line-height: 28px; color: #212529; padding-bottom: 10px; padding-top: 10px;">
                                                                                                <a href="{{ url }}"
                                                                                                    target="_blank"
                                                                                                    style="text-decoration: none; color: #212529; font-weight: bold;">{{ url }}</a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <!-- Msg Strat -->
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- Footer Start -->
                    <tr>
                        <td>
                            <div style="width: 100%; max-width: 620px; margin: 0 auto;">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0" style="">
                                    <tr>
                                        <td
                                            style="font-family: Verdana,Geneva,sans-serif; font-weight: normal; font-size: 14px; line-height: 24px; color: #333333; text-align: center; padding-bottom: 25px; padding-top: 15px;">
                                            Copyright 2022 © CAF RETRO
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- Footer End -->
                </table>
            </td>
        </tr>
    </table>
</body>

</html>